body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #d4af37;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#screen.waiting {
  border: 4px solid #d4af37;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #d4af37;
  color: #000;
  border: none;
  padding: 14px 22px;
  margin: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #fff;
  color: #000;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}
/* animação suave de brilho */
@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
/* Tela de login */
body.login {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: gold;
  font-family: "Poppins", sans-serif;
}

.login-box {
  text-align: center;
  border: 2px solid gold;
  padding: 35px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.4);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  outline: none;
  background: #111;
  color: gold;
  border-bottom: 2px solid gold;
  font-size: 18px;
}

.login-box button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: gold;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #ffcf2b;
}

.erro {
  color: red;
  margin-top: 10px;
  opacity: 0;
  transition: 0.3s;
}

/* Efeito tremer */
.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
#secretZone {
  position: fixed;
  bottom: 6px;
  right: 6px;
  width: 44px;
  height: 44px;
  opacity: 0; /* totalmente invisível */
  z-index: 9999;
  touch-action: manipulation;
}
@media (hover: hover) {
  /* opcional: deixa levemente visível em hover no desktop para você testar */
  #secretZone:hover { outline: 2px solid rgba(212,175,55,0.08); }
}


