body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #d4af37;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#screen.waiting {
  border: 4px solid #d4af37;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #d4af37;
  color: #000;
  border: none;
  padding: 14px 22px;
  margin: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #fff;
  color: #000;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}
/* animação suave de brilho */
@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
